@model BrochureViewModel
@{
    ViewBag.Titel = "BrochureToevoegen";
}
<div class="text-center">
    <h1 class="display-4">Kies jou reisbestemming:</h1>
    <form class="text-center" asp-action="BrochureToevoegen" method="post">

        <input class="btn-block " asp-for="Bestemming" />
        <input class="btn-primary btn-lg" type="submit" value="BrochureToevoegen" />

        <div asp-validation-summary="All"></div>
    </form>



</div>





