@model Brochure
@{
    ViewBag.Titel = "BrochureToevoegen";
}
<h2>Tik jouw reisbestemming</h2>
<form asp-action="BrochureToevoegen" method="post">
    <label asp-for="Bestemming"></label>
    <input asp-for="Bestemming" />
    <input type="submit" value="BrochureToevoegen" />
    
    <div asp-validation-summary="All"></div>
</form>


<partial name="Winkelmandje" />





