

<p>Winkelmandje</p>
@model BrochureViewModel
@if (Model != null)
{

    @if (Model.Brochures.Count == 0) { } else {

    <ul>@foreach (var brochure in Model.Brochures)
        {
            var url = "Verwijderen/" + brochure.ID;

            <li>
                @Html.DisplayFor(m => brochure.ID)
                @Html.DisplayFor(m => brochure.Bestemming)

                <a asp-action="Verwijderen" asp-route-id="@brochure.ID">
                    <img src="~/Images/delete.png" alt="delete" />
                </a>
            </li>
        }
    </ul>
    <p>
        <a href="~/Home/BrochuresDoorsturen"
           class="btn btn-primary btn-lg">Brochures aanvragen</a>
    </p> }



}