<p>Winkelmandje</p>
@model List<Brochure>
<h2>Brochures</h2>
<ul>
    @if (Model != null)
        @foreach (var brochure in Model)
        {
            var url = "Verwijderen/" + brochure.ID;

            <li>
                @Html.DisplayFor(m => brochure.ID)
                @Html.DisplayFor(m => brochure.Bestemming)

                <a asp-action="Verwijderen" asp-route-id="@brochure.ID">
                    <img src="~/Images/delete.png" alt="delete" />
                </a>
            </li>
          }
            <li class="text-center">


                <p>
                    <a href="~/Home/BrochuresDoorsturen"
                       class="btn btn-primary btn-lg">Brochures aanvragen;</a>
                </p>
            </li>


        

</ul>