@model List<Filiaal>
@{
    ViewBag.Title = "Vestigingen";
}
<partial name="Hoofdzetel" />
<partial name="Filialen" />

@if (ViewBag.recenteVerwijdering != null)
{
<p>Recent verwijderd : @ViewBag.recenteVerwijdering</p>
}